* {
  padding: 0;
  margin: 0;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(189,73,50,1);
  position: fixed;
}

.loading-center {
  width: 200px;
  height: 200px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
}

.object {
  width: 80px;
  height: 80px;
  background: #fff;
  position: absolute;
  top: 60px;
  left: 60px;
  animation: animate 1.3s infinite ease-in-out;
}

@keyframes animate {
  50% {
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}
