// Created by MiliGao on 2019-01-07.

*
  margin 0
  padding 0

hr
  margin 20px 0

.hello
  width 400px
  color #2b542c
  font-size 24px
  border 1px solid #2e2e2e


// 选择器
.aaa,
.bbb
  a
    background #e4e4e4
    &:hover
      color #a43e6a


// 变量
$font-size = 14px

body
  font-size $font-size

.aaa
  width 200px
  height 200px
  border 1px solid #8c8c8c
  position relative

  a
    display block
    width 80px
    height 80px
    background #2e6da4
    position absolute
    top 50%
    left 50%
    margin-left -(@width / 2)
    margin-top -(@height / 2)


// 选择器插值
.list1
  text-align center
  color white

  for key in 1 2 3
    li:nth-child({ key })
      width 100px * key
      background #8a6d3b


// Mixins
border-radius(n = 8px)
  border-radius n   // arguments


.box1
  width 200px
  height 200px
  background #204d74
  border-radius()


// 内置方法
.box2
  background rgba(#204d74, 0.5)





















